:root {
    --primary-font: 'Fira Code', monospace;
    /* Color palette */
    --color1: #f08080;
    --color2: #f4978e;
    --color3: #f8ad9d;
    --color4: #fbc4ab;
    --color5: #ffdab9;
    --color6: ;
    --color7: ;
}

html {
    background-color: var(--color5);
    font-family: var(--primary-font);
    font-size: 50px;
    font-weight: 500;
}

p {
    padding: 50px;
}